/**
 * Created by rdanko on 30.11.2016.
 */

body{
    overflow: hidden;
}

#map {
    position: relative;
    display: block;
    width: 100vW;
    height: 60vH;
}
#timeline{
  display: block;
  position: relative;
}
