footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

h2 {
  height: 70px;
}

.pam-right {
  background-color: beige;
  height: 100%;
}

.pam-left {
  background-color: grey;
  height: 100%;
}
